name: build tag push and deploy image


on:
 workflow_dispatch:
   
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
    aws_region: us-east-1
    AWS_ROLE_TO_ASSUME: ${{ secrets.AWS_ROLE_TO_ASSUME }}
    ECR_REPOSITORY: uat
    `
jobs:
  build:
    runs-on: ubuntu-latest  # using shared github runner[ubuntu, windows, macos]
    permissions:
      id-token: write  # to allow OIDC token to be generated for the workflow
      contents: read  # to allow checkout action to access the repository contents
    steps:
      - name: Checkout code in Repo
        uses: actions/checkout@v4
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.AWS_ROLE_TO_ASSUME }}  # Using OIDC OpenID Connect to authenticate with AWS more secure that storing long-lived AWS credentials in GitHub Secrets
          aws-region: ${{ env.aws_region }}
      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2
      
       
