name: Python language CI CD Pipeline 

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
    python-version: '3.9'
    
permissions:
  contents: read
  id-token: write
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v3
          - name: Set up Python ${{ env.python-version }}
            uses: actions/setup-python@v4
            with:
              python-version: ${{ env.python-version }}
          - name: Install dependencies
            run: |
              python -m pip install --upgrade pip
              pip install -r requirements.txt
          - name: Install pytest
            run: pip install -r requirements.txt
          - name: unit test
            run: pytest test.py

 