name: Python language CI CD Pipeline 

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
    python-version: '3.9'
    AWS_REGION: us-east-1
    ECR_REPO_NAME: uat
    ACCOUNT_ID: ${{secrets.AWS_ACCOUNT_ID}}
    AWS_ROLE_ARN: ${{secrets.AWS_ROLE_ARN}}
    IMAGE_TAG: ${{ github.run_number }}
        
permissions:
  contents: read
  id-token: write
  pull-requests: write
  
jobs:
    build:
        runs-on: ubuntu-latest
        outputs:  # Define outputs for the Deploy job
          image-uri: ${{ steps.set-image.outputs.image-uri }}
        steps:
          - uses: actions/checkout@v3
          - name: Set up Python ${{ env.python-version }}
            uses: actions/setup-python@v4
            with:
              python-version: ${{ env.python-version }}
          - name: Install dependencies
            run: |
              python -m pip install --upgrade pip
              pip install -r requirements.txt
          - name: Install pytest
            run: pip install pytest
          - name: unit test
            run: pytest test.py
          - name: Configure AWS credentials
            uses: aws-actions/configure-aws-credentials@v2
            with:
              role-to-assume: ${{ env.AWS_ROLE_ARN }}
              aws-region: ${{ env.AWS_REGION }}
          - name: Login to Amazon ECR
            id: login-ecr
            uses: aws-actions/amazon-ecr-login@v1
          - name: Build and tag 
            run: |
                docker build -t ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPO_NAME}}:${{ env.IMAGE_TAG }} .
          - name: Install Trivy Scanner
            uses: aquasecurity/trivy-action@master
            with:
              image-ref: "${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPO_NAME}}:${{ env.IMAGE_TAG }}"
              format: "json"
              exit-code: "0"
              output: "trivy-image-results.json"
              severity: "CRITICAL,HIGH"
          - name: Push image to ECR
           run: |
              docker push ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPO_NAME}}:${{ env.IMAGE_TAG }}
         

 